server:
  server:
    port: 8080
  servlet:
    context-path: /core

spring:
  application:
    name: core
  datasource:
    url: jdbc:postgresql://localhost:5432/mynextduty_db
    username: ${DATABASE_USERNAME:}
    password: ${DATABASE_PASSWORD:}
    driver-class-name: org.postgresql.Driver
    type: com.zaxxer.hikari.HikariDataSource

  jpa:
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true

  hikari:
    pool-name: CoreHikariPool
    maximum-pool-size: 15
    minimum-idle: 5
    idle-timeout: 30000
    connection-timeout: 20000
    max-lifetime: 1800000



